.alert {
    background-color: $alert-bg;
    color: $alert-fg;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    padding: 8px 5px;
    &.message {
        background-color: $alert-msg-bg;
        color: $alert-msg-fg;
    }
    &.error {
        background-color: $alert-err-bg;
        color: $alert-err-fg;
    }
    &.fade {
        position: absolute;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        animation: message-fade 6s linear;
        @keyframes message-fade {
            0%  { opacity: 1; }
            75% { opacity: 1; }
            100% { opacity: 0; }   
        }
    }
}