$col-root: #3e3e3e;
$col-group: #488066;
$col-question: #e65858;
$col-answer: #93afc8;
$col-rule: #96ea8a;
$col-matrix: #ce1db6;
$col-show-more: #ffb699;

$builder-opt-bg: #575757;
$builder-opt-fg: #fff;
$builder-opt-border: #fff;

$page-section-divide: #ddd;