$col-root: #3e3e3e;
$col-group: #488066;
$col-question: #e65858;
$col-answer: #93afc8;
$col-rule: #96ea8a;
$col-matrix: #ce1db6;
$col-show-more: #ffb699;

$builder-opt-bg: #575757;
$builder-opt-fg: #fff;
$builder-opt-border: #fff;

$header-bg: #575757;
$header-fg: #fff;
$page-section-divide: #ddd;

$alert-bg: #e7e7e7;
$alert-fg: #000;
$alert-err-bg: #fb2e2e;
$alert-err-fg: #fff;
$alert-msg-bg: #e4ff61;
$alert-msg-fg: #000;