.page.form-dashboard {
    .published {
        .options {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .list .options {
        margin-bottom: 10px;
    }
    .list {
        vertical-align: top;
    }
    .list.documents, .list.submissions {
        display: inline-block;
        width: 49%;
    }
    .list.documents {
        margin-right: 1%;
    }
    .list table {
        tr:nth-of-type(1n+5) {
            display: none;
        }
    }
    @media screen and (max-width: 800px) {
        .list.documents, .list.submissions {
            display: block;
            width: 100%;
        }
    }
}