.decision-engine {
    .page {
        h1 {
            margin: 20px;
        }
        section {
            padding: 20px;
            .section-name {
                border-bottom: 1px solid $page-section-divide;
            }
        }
        .options {
            margin-bottom: 15px;
            &.top {
                position: absolute;
                text-align: right;
                margin-top: 10px;
                right: 20px;
            }
        }
    }
}