.pdf-form {
    input[type=file], .pdf-file-info {
        margin-bottom: 15px;
    }
    .pdf-file-info {
        a {
            color: #000;
            margin-right: 5px;
        }
    }
    .viewer {
        border: 1px solid $header-bg;
        margin-right: 1%;
        display: inline-block;
        &.fixed {
            position: fixed;
            top: 10px;
        }
    }
    .editor {
        float: right;
        vertical-align: top;
    }
}