
table {
    width: 100%;
}
.pure-form {
    input[type=text], input[type=password] { min-width: 300px; }
}
button svg {
    pointer-events: none;
}
.hidden {
    display: none;
}

@import 'colors';
@import 'builder';
@import 'alerts';
@import 'header';
@import 'helpers';
@import 'page';
@import 'page_form_dashboard';
@import 'tree_nodes';
@import 'pdf_form';